@using BMS.Entity
@using BMS.Resource
@using BMS.Web.Models
@using Entity = BMS.Entity.BMSMaster.Entity

@if (User.Identity.IsAuthenticated)
{
    @(Html.Kendo().ContextMenu().Name("contextMenu").Target("body")
          //.Filter("div")
          .Orientation(ContextMenuOrientation.Vertical).Animation(true)
          .HighlightPath(true)
          .Items(i =>
          {
              i.Add().Text(Resource.Change_Company).Items(x =>
              {
                  foreach (var entity in User.GetEntities().OrderBy(z=>z.Id).ToList())
                  {
                      x.Add().Text(entity.Name).Action("ChangeEntity", "Account", new { id = entity.Id, returnUrl = Request.Url?.AbsolutePath }).HtmlAttributes(new { data_icon = "building-o" });
                  }
              }).HtmlAttributes(new {data_icon="sitemap"});

              if (User.IsInEntityRole(Role.Admin, ((Entity)Session[Key.Entity])?.Id??0))
              {
                  i.Add().Text(Resource.Master_Data).Items(x =>
                  {
                      x.Add().Text(Resource.Areas).Action("Index", "Area").HtmlAttributes(new { data_icon = "map-signs" });
                      x.Add().Text(Resource.Vehicles).Action("Index", "Vehicle").HtmlAttributes(new { data_icon = "bus" });
                      x.Add().Text(Resource.Customers).Action("Index", "Customer").HtmlAttributes(new { data_icon = "id-card-o" });
                      x.Add().Text(Resource.Brands).Action("Index", "Brand").HtmlAttributes(new { data_icon = "certificate" });
                      x.Add().Text(Resource.Categories).Action("Index", "Category").HtmlAttributes(new { data_icon = "creative-commons" });
                      x.Add().Text(Resource.Products).Action("Index", "Product").HtmlAttributes(new { data_icon = "product-hunt" });
                      x.Add().Text(Resource.Unit_of_Measures).Action("Index", "UnitOfMeasure").HtmlAttributes(new { data_icon = "balance-scale" });
                  }).HtmlAttributes(new { data_icon = "cogs" });

                  //i.Add().Text(Resource.Inventory).Items(x =>
                  //{
                  i.Add().Text(Resource.Items).Action("Index", "Item").HtmlAttributes(new { data_icon = "stack-overflow" });
                  i.Add().Text(Resource.Invoices).Action("Index", "Invoice").HtmlAttributes(new { data_icon = "newspaper-o" });
                  i.Add().Text("Stock Adjustments").Action("Index", "Lot").HtmlAttributes(new { data_icon = "adjust" });
                  //}).HtmlAttributes(new { data_icon = "cubes" });
              }

              if (User.IsInEntityRole(new[] { Role.Admin, Role.Accountant }, ((Entity)Session[Key.Entity])?.Id ?? 0))
              {
                  //i.Add().Text(Resource.Sales).Items(x =>
                  //{
                  i.Add().Text(Resource.Billing).Action("Index", "Bill").HtmlAttributes(new { data_icon = "clipboard" });
                  i.Add().Text(Resource.Road_Distribution).Action("Index", "RoadDistribution").HtmlAttributes(new { data_icon = "map-o" });
                  //}).HtmlAttributes(new { data_icon = "handshake-o" });
              }

              if (User.IsInEntityRole(new[] { Role.Admin, Role.Accountant }, ((Entity)Session[Key.Entity])?.Id ?? 0))
              {
                  i.Add().Text(Resource.Payments).Action("Index", "BillPayment").HtmlAttributes(new { data_icon = "money" });
                  i.Add().Text("Cheques").Action("Index", "Cheque").HtmlAttributes(new { data_icon = "credit-card" });
              }

              if (User.IsInEntityRole(Role.Admin, ((Entity)Session[Key.Entity])?.Id ?? 0))
              {
                  i.Add().Text(Resource.Reports).Items(x =>
                  {
                      x.Add().Text(Resource.Billing_Report).Action("BillingReport", "Report").HtmlAttributes(new { data_icon = "print" });
                      x.Add().Text(Resource.Collection_Report).Action("CollectionReport", "Report").HtmlAttributes(new { data_icon = "print" });
                      x.Add().Text(Resource.Daily_Bill_Summary).Action("DailyBillSummary", "Report").HtmlAttributes(new { data_icon = "print" });
                      x.Add().Text(Resource.Road_Distribution).Action("RoadDistribution", "Report").HtmlAttributes(new { data_icon = "print" });
                      x.Add().Text(Resource.Spot_Stock_Test).Action("SpotStockTest", "Report").HtmlAttributes(new { data_icon = "print" });
                  }).HtmlAttributes(new { data_icon = "line-chart" });
              }

              i.Add().Text(Resource.Change_Password).Action("ChangePassword","Manage").HtmlAttributes(new { id = "change-password", data_icon = "wrench" });
              //i.Add().Text(Resource.Log_Off).HtmlAttributes(new { id = "log-out" }).HtmlAttributes(new { data_icon = "sign-out" });

              if (User.IsInRole(Role.SAdmin))
              {
                  i.Add().Text(Resource.Super_Admin).Items(x =>
                  {
                      x.Add().Text(Resource.User).Action("Index", "User").HtmlAttributes(new { data_icon = "users" });
                      x.Add().Text(Resource.Roles).Action("Index", "Role").HtmlAttributes(new { data_icon = "user-circle" });
                      x.Add().Text(Resource.Payment_Methods).Action("Index", "PaymentMethod").HtmlAttributes(new { data_icon = "credit-card" });
                  }).HtmlAttributes(new { data_icon = "user-secret" });
              }

              i.Add().Text(Resource.Help).Url(Url.Content("~/Content/Help/Manual.pdf")).LinkHtmlAttributes(new {target="_blank"}).HtmlAttributes(new { data_icon = "life-ring" });
          })
          .Events(e=>e.Activate("contextMenuOnOpen"))
          .HtmlAttributes(new {style="width:175px;"})
          )

    <script id="navbar-tooltip" type="text/x-kendo-template">
        <h4><i class="fa fa-bell-o blink_me" style="font-size:110%;"></i> @Resource.Right_Click_to_open_the_menu</h4>
    </script>

    @Html.Kendo().Tooltip().For(".navbar").Filter("i").ContentTemplateId("navbar-tooltip").Callout(true).ShowOn(TooltipShowOnEvent.MouseEnter)

    <script>
        var contextMenuOnOpen = function(e) {
            if ($('[data-icon] .k-link > i').length == 0) {
                $('[data-icon] .k-link')
                    .each(function(i, e) {
                        var content = $(e).html();
                        var icon = '<i class="fa fa-' + $(e).parent().data('icon') + '"></i>&nbsp;';
                        $(e).html(icon + content);
                    });
            }
        }
    </script>
}

    @*@(Html.Kendo().Menu().Name("menu").Direction(MenuDirection.Bottom).HighlightPath(true).Orientation(MenuOrientation.Horizontal).Animation(true).Items(i =>
        {
            i.Add().Text("Reference").Items(x =>
            {
                x.Add().Text("Area").Action("Index", "Area");
                x.Add().Text("Vehicle").Action("Index", "Vehicle");
                x.Add().Text("Customer").Action("Index", "Customer");
                x.Add().Text("Brand").Action("Index", "Brand");
                x.Add().Text("Category").Action("Index", "Category");
                x.Add().Text("Product").Action("Index", "Product");
                x.Add().Text("Payment Method").Action("Index", "PaymentMethod");
                x.Add().Text("Unit of Measure").Action("Index", "UnitOfMeasure");
            });

            i.Add().Text("Inventory").Items(x =>
            {
                x.Add().Text("Item").Action("Index", "Item");
                x.Add().Text("Invoice").Action("Index", "Invoice");
            });

            i.Add().Text("Sales").Items(x =>
            {
                x.Add().Text("Bill").Action("Index", "Bill");
                x.Add().Text("Road Distribution").Action("Index", "RoadDistribution");
            });

            i.Add().Text("Payments").Action("Index", "BillPayment");

        }))*@