@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    <div id="whats-new" style="display: none">
        <div>
            <h4><i class="fa fa-wrench faa-wrench animated"></i> New in this version <strong>1.1.10.201</strong></h4>
            <ul>
                <li>Update good return bill reference on bill entry</li>
                <li>Minor Bug fixes</li>
            </ul>
            <h4><i class="fa fa-wrench faa-wrench animated"></i> 1.1.10.186</h4>
            <ul>
                <li>More Optimized Reports</li>
                <li>Minor Bug fixes</li>
            </ul>
            @*<h4><i class="fa fa-wrench faa-wrench animated"></i>1.0.8.175</h4>
                <ul>
                    <li>Brand new Theme</li>
                    <li>Easy Left Menu Navigation.</li>
                    <li>Faster Billing Screan loading</li>
                    <li>Faster Payment Screan loading</li>
                    <li>Minor Bug fixes</li>
                </ul>*@
        </div>
        <div style="float: right">
            <button id="got-it" class="k-button"><i class="fa fa-thumbs-o-up"></i> Got It. Do not show again</button>
        </div>
    </div>
    <script>
        var WN = function() {
            var sStore = window.sessionStorage;
            var lStore = window.localStorage;
            var gotItKey = 'got-it-time-@(User.Identity.GetUserId())';
            var gotItResetDate = new Date(2017, 06, 20 + 1);
            var hidingDays = 30;
            var version = '1.1.10.201';

            var openWindow = function() {
                $('#whats-new').data("kendoWindow").center().open();
            }

            var init = function() {
                if (typeof (Storage) !== "undefined") {
                    // Code for localStorage/sessionStorage.

                    var gotItTimeVar = lStore.getItem(gotItKey);

                    if (lStore.getItem('version') !== version && new Date(gotItTimeVar) < gotItResetDate) {
                        lStore.setItem('version', version);
                        lStore.removeItem(gotItKey);
                        openWindow();
                        return;
                    }

                    if (moment(new Date(gotItTimeVar)).add(hidingDays, 'd')._d < moment()._d) {
                        openWindow();
                    }
                } else {
                    console.error('Sorry! No Web Storage support..');
                }
            }

            var gotIt = function() {
                $('#whats-new').data("kendoWindow").close();
                lStore.setItem(gotItKey, moment()._d);
            };

            var initWindow = function () {
                $('#whats-new').kendoWindow({
                    width: "600px",
                    title: "What's New...",
                    visible: false,
                    modal: true,
                    actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
                    ]
                });
            }

            return {
                init: init,
                initWindow: initWindow,
                gotIt: gotIt
            }
        }();

        $(document).ready(function () {
            WN.initWindow();
            WN.init();
            $('body').on('click',
                '#got-it',
                function () {
                    WN.gotIt();
                });
        });
    </script>
}