@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    .retroshadow {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        text-shadow: 2px 2px 0px #d5d5d5, 3px 3px 0px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div id="loginForm" class="col-md-offset-3 col-md-6">
            <h4 class="retroshadow">@ViewBag.Title</h4>
            <hr />
            <h5>
                Please check your email to reset your password. If you have not confirmed your email do it first.
            </h5>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}