@{
    ViewBag.Title = "Welcome to BMS";
}

<!-- REVOLUTION STYLE SHEETS -->
<link href="/Content/settingsrevo.css" rel="stylesheet" />
<link href="/Content/tools.css" rel="stylesheet" />
<!-- REVOLUTION LAYERS STYLES -->
<link href="/Content/layers.css" rel="stylesheet" />

<!-- REVOLUTION NAVIGATION STYLES -->
<link href="/Content/navigation.css" rel="stylesheet" />

<!-- showcase start -->
<div class="row showcase" style="margin-right: 0px; margin-left: 0px">
    <!--
    #################################
    - REVOLUTION SLIDER START -
    #################################
    -->

    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container corporate" data-alias="news-gallery34"
         style="margin: 0px auto; background-color: #ffffff; padding: 0px; margin-top: 0px; margin-bottom: 0px; height: 465px;">
        <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
        <div id="rev_slider_34_1" class="rev_slider fullwidthabanner" style="height: 448px; display: none;" data-version="5.0.7">
            <ul>
                <!-- SLIDE -->
                <li data-index="rs-129" data-transition="parallaxvertical" data-slotamount="default"
                    data-easein="default" data-easeout="default" data-masterspeed="default"
                    data-thumb="/Content/images/corporate/corporate1-100x50.jpg"
                    data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                    data-saveperformance="off" data-title="A BUSINESS PRACTICE"
                    data-description="Get to know the elements of successful business practice">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/images/corporate/corporate1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                         id="slide-129-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         style="z-index: 5; background-color: rgba(0, 0, 0, 0.35); border-color: rgba(0, 0, 0, 1.00);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme rs-parallaxlevel-0"
                         id="slide-129-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['165','135','105','130']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">
                        Get to know the elements of successful business practice
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle   tp-resizeme rs-parallaxlevel-0"
                         id="slide-129-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['140','110','80','100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap;">
                        A BUSINESS PRACTICE
                    </div>

                    <!-- LAYER NR. 4 -->
                    <a class="button tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0"
                       id="slide-129-layer-5"
                       data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                       data-y="['top','top','top','top']" data-voffset="['361','331','301','245']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:0;y:0;"
                       data-start="1000"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       data-responsive="off"
                       style="z-index: 8; white-space: nowrap; outline: none; box-shadow: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                        READ MORE
                    </a>
                </li>
                <!-- SLIDE -->
                <li data-index="rs-130" data-transition="parallaxvertical" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Content/images/corporate/corporate2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="THE MEASURABLE RESULTS" data-description="Producing measurable results for the customers.">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/images/corporate/corporate2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                         id="slide-130-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         style="z-index: 5; background-color: rgba(0, 0, 0, 0.5); border-color: rgba(0, 0, 0, 1.00);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme rs-parallaxlevel-0"
                         id="slide-130-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['165','135','105','130']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">
                        Producing measurable results for the customers.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle   tp-resizeme rs-parallaxlevel-0"
                         id="slide-130-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['140','110','80','100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap;">
                        THE MEASURABLE RESULTS
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0"
                         id="slide-130-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                         data-y="['top','top','top','top']" data-voffset="['361','331','301','245']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 8; white-space: nowrap; outline: none; box-shadow: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                        READ MORE
                    </div>
                </li>
                <!-- SLIDE -->
                <li data-index="rs-131" data-transition="parallaxvertical" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Content/images/corporate/corporate3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="CUSTOMER SATISFACTION" data-description="We have power to let your business grow.">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/images/corporate/corporate3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                         id="slide-131-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         style="z-index: 5; background-color: rgba(0, 0, 0, 0.5); border-color: rgba(0, 0, 0, 1.00);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme rs-parallaxlevel-0"
                         id="slide-131-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['165','135','105','130']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">
                        We have power to let your business grow.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle   tp-resizeme rs-parallaxlevel-0"
                         id="slide-131-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['140','110','80','100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap;">
                        CUSTOMER SATISFACTION
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0"
                         id="slide-131-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                         data-y="['top','top','top','top']" data-voffset="['361','331','301','245']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 8; white-space: nowrap; outline: none; box-shadow: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                        READ MORE
                    </div>
                </li>
                <!-- SLIDE -->
                <li data-index="rs-132" data-transition="parallaxvertical" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/Content/images/corporate/corporate4-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="POWERFUL &amp; EFFECTIVE" data-description="Raise efficiency, cut downtime, and keep your projects on time.">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/images/corporate/corporate4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                         id="slide-132-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         style="z-index: 5; background-color: rgba(0, 0, 0, 0.5); border-color: rgba(0, 0, 0, 1.00);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Newspaper-Title   tp-resizeme rs-parallaxlevel-0"
                         id="slide-132-layer-1"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['165','135','105','130']"
                         data-fontsize="['50','50','50','30']"
                         data-lineheight="['55','55','55','35']"
                         data-width="['600','600','600','420']"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 6; min-width: 600px; max-width: 600px; white-space: normal;">
                        Raise efficiency, cut downtime, and keep your projects on time.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Newspaper-Subtitle   tp-resizeme rs-parallaxlevel-0"
                         id="slide-132-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                         data-y="['top','top','top','top']" data-voffset="['140','110','80','100']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:0;y:0;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         style="z-index: 7; white-space: nowrap;">
                        POWERFUL &amp; EFFECTIVE
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Newspaper-Button rev-btn  rs-parallaxlevel-0"
                         id="slide-132-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']"
                         data-y="['top','top','top','top']" data-voffset="['361','331','301','245']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 8; white-space: nowrap; outline: none; box-shadow: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;">
                        READ MORE
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
    <script type="text/javascript">
        var tpj = jQuery;
        var revapi34;
        tpj(document)
            .ready(function () {
                if (tpj("#rev_slider_34_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_34_1");
                } else {
                    revapi34 = tpj("#rev_slider_34_1")
                        .show()
                        .revolution({
                            sliderType: "standard",
                            jsFileLocation: "revolution/js/",
                            sliderLayout: "fullwidth",
                            dottedOverlay: "none",
                            delay: 9000,
                            navigation: {
                                keyboardNavigation: "on",
                                keyboard_direction: "horizontal",
                                mouseScrollNavigation: "off",
                                onHoverStop: "on",
                                touch: {
                                    touchenabled: "on",
                                    swipe_threshold: 75,
                                    swipe_min_touches: 1,
                                    swipe_direction: "horizontal",
                                    drag_block_vertical: false
                                },
                                bullets: {
                                    enable: true,
                                    hide_onmobile: true,
                                    hide_under: 600,
                                    style: "metis",
                                    hide_onleave: true,
                                    hide_delay: 200,
                                    hide_delay_mobile: 1200,
                                    direction: "horizontal",
                                    h_align: "center",
                                    v_align: "bottom",
                                    h_offset: 0,
                                    v_offset: 20,
                                    space: 5,
                                    tmp:
                                        '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                                },
                                arrows: {
                                    style: "gyges",
                                    enable: true,
                                    hide_onmobile: false,
                                    hide_over: 778,
                                    hide_onleave: false,
                                    tmp: '',
                                    left: {
                                        h_align: "right",
                                        v_align: "bottom",
                                        h_offset: 40,
                                        v_offset: 0
                                    },
                                    right: {
                                        h_align: "right",
                                        v_align: "bottom",
                                        h_offset: 0,
                                        v_offset: 0
                                    }
                                },
                                tabs: {
                                    style: "gyges",
                                    enable: true,
                                    width: 250,
                                    height: 100,
                                    min_width: 250,
                                    wrapper_padding: 0,
                                    wrapper_color: "transparent",
                                    wrapper_opacity: "0",
                                    tmp:
                                        '<div class="tp-tab-title">{{title}}</div><div class="tp-tab-desc">{{description}}</div>',
                                    visibleAmount: 3,
                                    hide_onmobile: true,
                                    hide_under: 778,
                                    hide_onleave: false,
                                    hide_delay: 200,
                                    direction: "vertical",
                                    span: false,
                                    position: "inner",
                                    space: 10,
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 30,
                                    v_offset: 0
                                }
                            },
                            viewPort: {
                                enable: true,
                                outof: "pause",
                                visible_area: "80%"
                            },
                            responsiveLevels: [1240, 1024, 778, 480],
                            gridwidth: [1240, 1024, 778, 480],
                            gridheight: [500, 450, 400, 350],
                            lazyType: "none",
                            parallax: {
                                type: "scroll",
                                origo: "enterpoint",
                                speed: 400,
                                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                            },
                            shadow: 0,
                            spinner: "off",
                            stopLoop: "off",
                            stopAfterLoops: -1,
                            stopAtSlide: -1,
                            shuffle: "off",
                            autoHeight: "off",
                            hideThumbsOnMobile: "off",
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            debugMode: false,
                            fallbacks: {
                                simplifyAll: "off",
                                nextSlideOnWindowFocus: "off",
                                disableFocusListener: false,
                            }
                        });
                }
            }); /*ready*/
    </script>
    <style>
        .row.footer.main-footer {
            bottom: auto !important;
        }
    </style>

    <!--
    #################################
    - REVOLUTION SLIDER END -
    #################################
    -->
    <!-- REVOLUTION JS FILES -->
    <script src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
    (Load Extensions only on Local File Systems !
    The following part can be removed on Server for On Demand Loading) -->
    <script src="~/Scripts/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Scripts/extensions/revolution.extension.video.min.js"></script>

</div>
