@using BMS.Resource
@model BMS.Entity.BMSTenant.BillHeader

<style>
    /*.row:not(footer) {
        margin-bottom: 5px;
    }*/

    .amount {
        text-align: right;
        padding-right: 10px;
    }

    #billLines .k-icon {
        margin: 3px;
    }

        #billLines .k-icon:hover {
            cursor: pointer;
        }

    #header td {
        padding: 2px 0;
    }

    .line-qty {
        width: 44px;
    }
</style>




@{ Html.RenderAction("_BillHeader", "Bill", new { headerId = Model?.Id }); }
<hr />
@{ Html.RenderAction("_BillLine", "Bill", new { headerId = Model?.Id }); }
<hr />

<div style="text-align: right">
    @if (!Model.Finalized)
    {
        <button class="k-button k-button-icontext" onclick="bill.saveBill()">
            <span class="k-icon k-i-check"></span>@Resource.Save
        </button>
        <button class="k-button k-button-icontext" title="Update and Add New" onclick="bill.saveBillAndNew()">
            <span class="k-icon k-i-check"></span>@Resource.Save_and_New
        </button>
        <button class="k-button k-button-icontext" onclick="bill.cancelBill()">
            <span class="k-icon k-i-cancel"></span>@Resource.Cancel
        </button>
    }
    else
    {
        <button class="k-button">
            <i class="fa fa-thumbs-up"></i>@Resource.Finalized 
        </button>
        
    }
</div>


<script>
    bill.initItem();
</script>
