/*
Run this script on:

13.94.200.55.BMSMaster    -  This database will be modified

to synchronize it with:

ROBOT01.BMSMaster

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 12.2.1.4077 from Red Gate Software Ltd at 4/2/2017 4:17:03 PM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [Account].[BankBranch]')
ALTER TABLE [Account].[BankBranch] NOCHECK CONSTRAINT [FK_BankBranch_Bank]

PRINT(N'Add 32 rows to [Account].[Bank]')
SET IDENTITY_INSERT [Account].[Bank] ON
INSERT INTO [Account].[Bank] ([Id], [Name], [BankCode], [SWIFT], [Note]) VALUES (1, N'Bank of Ceylon', N'7010', N'BCEYLKLX', NULL)
INSERT INTO [Account].[Bank] ([Id], [Name], [BankCode], [SWIFT], [Note]) VALUES (2, N'Standard Chartered Bank', N'7038', N'SCBLLKLX', NULL)
INSERT INTO [Account].[Bank] ([Id], [Name], [BankCode], [SWIFT], [Note]) VALUES (3, N'Citi Bank', N'7047', N'CITILKLX', NULL)
SET IDENTITY_INSERT [Account].[Bank] OFF

PRINT(N'Add 2853 rows to [Account].[BankBranch]')
SET IDENTITY_INSERT [Account].[BankBranch] ON
INSERT INTO [Account].[BankBranch] ([Id], [BankId], [Name], [BranchCode], [Notes]) VALUES (1, 1, N'City Office', N'1', NULL)
INSERT INTO [Account].[BankBranch] ([Id], [BankId], [Name], [BranchCode], [Notes]) VALUES (2, 1, N'Kandy', N'2', NULL)
INSERT INTO [Account].[BankBranch] ([Id], [BankId], [Name], [BranchCode], [Notes]) VALUES (3, 1, N'Galle Fort', N'3', NULL)
SET IDENTITY_INSERT [Account].[BankBranch] OFF

PRINT(N'Add constraints to [Account].[BankBranch]')
ALTER TABLE [Account].[BankBranch] WITH CHECK CHECK CONSTRAINT [FK_BankBranch_Bank]
COMMIT TRANSACTION
GO
