@using BMS.Entity
@using BMS.Resource
@using BMS.Web.Models
@{
    ViewBag.Title = Resource.Spot_Stock_Test;
    var entity = User.GetSelectedEntity(Convert.ToInt32(Request.Cookies[Key.Entity]?.Value));
}

<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-11.2.17.913.min.js")"></script>


<div id="reportViewer">
    <img style="margin: auto" src="~/Content/kendo/BlueOpal/loading-image.gif" />
</div>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#reportViewer")
                .telerik_ReportViewer({
                    serviceUrl: "@Url.HttpRouteUrl("DefaultApi",new {controller="Reports"})",
                    reportSource: {
                        report: "Spot Stock Test.trdp",
                        parameters: {
                            DatabaseName: '@entity.DatabaseName',
                            CompanyName: '@entity.Name'
                        }
                    },
                    //scaleMode: "FIT_PAGE_WIDTH",
                    viewMode: "PRINT_PREVIEW",//'INTERACTIVE',
                    printMode: "AUTO_SELECT",
                    error: function () {
                        notify('Something went Wrong', 'warning');
                    },
                    ready: function () {
                        //this.refreshReport();
                    }
                });
        }, 2500);
    });
</script>
